pipeline/Copy Folder To DB.json
{
	"name": "Copy Folder To DB",
	"properties": {
		"description": "pipeline copy data from csv to sql db",
		"activities": [
			{
				"name": "Filter Impact Area Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'ImpactArea_')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter Impact Area Files",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Filter Plan files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Impact Area Files').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure for pipeline",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_CopyFileInformation]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastModifiedDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"RecordInsertedDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "connectSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Task",
						"value": "get list file instore"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "PilotInputFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Filter Plan files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'Plan_')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Filter OperationType",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, 'OperationType_')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter OperationType",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure for pipeline_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_CopyFileInformation]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastModifiedDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"RecordInsertedDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "connectSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			}
		},
		"variables": {
			"listFiles": {
				"type": "Array",
				"defaultValue": [
					"ImpactArea_",
					"OperationType_",
					"Plan_"
				]
			},
			"meta_ouput": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": [
			"CSVToDB"
		],
		"lastPublishTime": "2021-08-18T16:48:15Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}