pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Check Current-Up-To With File DateTime",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "DECLARE @Ncount INT;\nEXEC dbo.CheckDataCurrentUpToDate  @{pipeline().parameters.configId}, @Ncount OUTPUT;\nSELECT @Ncount AS Ncount;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Pilot_SQL_Broad",
						"type": "DatasetReference",
						"parameters": {
							"tableName": "''",
							"schema": "''"
						}
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Check Current-Up-To With File DateTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": {
						"value": "@activity('Check Current-Up-To With File DateTime').output.firstRow.Ncount",
						"type": "Expression"
					}
				},
				"linkedServiceName": {
					"referenceName": "connectSQL",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"configId": {
				"type": "string",
				"defaultValue": "1"
			}
		},
		"annotations": []
	}
}