pipeline/pipelineAppendVariable.json
{
	"name": "pipelineAppendVariable",
	"properties": {
		"activities": [
			{
				"name": "Append variable1",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "listOfFiles",
					"value": {
						"value": "@pipeline().parameters.fileName",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Append variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('listOfFiles')",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_CopyFileInformation]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@item()",
											"type": "Expression"
										},
										"type": "String"
									},
									"LastModifiedDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									},
									"RecordInsertedDate": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "Datetime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "connectSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string",
				"defaultValue": "appendText.txt"
			}
		},
		"variables": {
			"listOfFiles": {
				"type": "Array",
				"defaultValue": [
					"cars.txt",
					"dailySales.txt",
					"hourlySales.txt"
				]
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-13T08:15:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}