pipeline/pipelineMetadata.json
{
	"name": "pipelineMetadata",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "inputCar",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified",
						"columnCount",
						"itemName"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(formatDateTime(utcnow(),'yyyy-MM-dd'), formatDateTime(activity('Get Metadata1').output .lastModified, 'yyyy-MM-dd') )",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy data2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "inputCar",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "FalseCars",
									"type": "DatasetReference",
									"parameters": {
										"folderName": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										}
									}
								}
							]
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "name",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "name",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "mpg",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "mpg",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "cyl",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "cyl",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "disp",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "disp",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "hp",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "hp",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "drat",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "drat",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "wt",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "wt",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "qsec",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "qsec",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "vs",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "vs",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "am",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "am",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "gear",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "gear",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "carb",
												"type": "String",
												"physicalType": "String"
											},
											"sink": {
												"name": "carb",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "inputCar",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ExportCars",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Test"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-13T08:34:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}