pipeline/plp_SyncODSToSTG.json
{
	"name": "plp_SyncODSToSTG",
	"properties": {
		"activities": [
			{
				"name": "TR-1-ForEach-ListConfigId",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.listConfigId_Ar",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "TR-1-2-Get lastest transfer and current executionLogId",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "TR-1-1- Set variable configId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "DECLARE @startExecutionId INT;\nDECLARE @endExecutionId INT;\nDECLARE @odsTableName varchar(30);\n\nEXEC [ods].[ctl_get_ExecutionLogId_Information] @{variables('configId')}, @startExecutionId OUTPUT, @endExecutionId OUTPUT, @odsTableName OUTPUT\n\nSELECT @startExecutionId AS startExecutionId , @endExecutionId  AS endExecutionId, @odsTableName AS odsTableName\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Pilot_SQL_Broad",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "Null",
										"schema": "Null"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "TR-1-3-IF- Data has changed",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "TR-1-2-1- Set variable startExecutionId",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TR-1-2-2- Set variable endExecutionId",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TR-1-2-3- Set variable ODSTableName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].endExecutionId , activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].startExecutionId)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "TR-1-3-1- Exit by no data has changed",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "TR-1-3-2-Update status transfer to successful",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "TR-1-3-1-Transfer data from ODS to STG",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ods].[ctl_etl_process_log]",
											"storedProcedureParameters": {
												"configId": {
													"value": {
														"value": "@variables('configId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"endExecutionId": {
													"value": {
														"value": "@variables('endExcutionId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"runId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"startExecutionId": {
													"value": {
														"value": "@variables('startExecutionId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tableName": {
													"value": {
														"value": "@variables('odsTableName')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connectSQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "TR-1-3-3-Pipeline to control error",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "TR-1-3-1-Transfer data from ODS to STG",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "plp_Control_Pipeline_Fail",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"DataFactoryName": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"ErrorMessage": {
													"value": "@activity('TR-1-3-1-Transfer data from ODS to STG').Error.message",
													"type": "Expression"
												},
												"RunID": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"TriggerName": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"TriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "TR-1-3-4- Set variable isTransferError to True",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "TR-1-3-1-Transfer data from ODS to STG",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "isTransferError",
											"value": {
												"value": "@bool(1)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "TR-1-3-1-Transfer data from ODS to STG",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[stg].[usp_merge_ODS_To_STG_Process_Wrapper]",
											"storedProcedureParameters": {
												"configId": {
													"value": {
														"value": "@variables('configId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"endExecutionId": {
													"value": {
														"value": "@variables('endExcutionId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"startExecutionId": {
													"value": {
														"value": "@variables('startExecutionId')",
														"type": "Expression"
													},
													"type": "Int32"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connectSQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "TR-1-3-4-Set isDataChanged to True",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "TR-1-3-2-Update status transfer to successful",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "isDataChanged",
											"value": {
												"value": "@bool(1)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "TR-1-1- Set variable configId",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "configId",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TR-1-2-1- Set variable startExecutionId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TR-1-2-Get lastest transfer and current executionLogId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "startExecutionId",
								"value": {
									"value": "@string(activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].startExecutionId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TR-1-2-2- Set variable endExecutionId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TR-1-2-Get lastest transfer and current executionLogId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "endExcutionId",
								"value": {
									"value": "@string(activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].endExecutionId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TR-1-2-3- Set variable ODSTableName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TR-1-2-Get lastest transfer and current executionLogId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "odsTableName",
								"value": {
									"value": "@string(activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].odsTableName)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "TR-2-1- Got error in Sync data",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "TR-1-ForEach-ListConfigId",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "TR-2-2-Check data changed on STG",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "TR-1-ForEach-ListConfigId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('isDataChanged')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "TR-2-2-2- No Data Transfer to TSG",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 1
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "TR-2-2-1-Lastest Update STG Guid",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[stg].[usp_update_Guid_On_STG_Board]"
							},
							"linkedServiceName": {
								"referenceName": "connectSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"listConfigId_Ar": {
				"type": "array",
				"defaultValue": [
					"1"
				]
			}
		},
		"variables": {
			"configId": {
				"type": "String"
			},
			"startExecutionId": {
				"type": "String"
			},
			"endExcutionId": {
				"type": "String"
			},
			"isTransferError": {
				"type": "Boolean",
				"defaultValue": false
			},
			"odsTableName": {
				"type": "String"
			},
			"isDataChanged": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"folder": {
			"name": "Pilot"
		},
		"annotations": []
	}
}