pipeline/plp_InsertFileToControl_Sub.json
{
	"name": "plp_InsertFileToControl_Sub",
	"properties": {
		"activities": [
			{
				"name": "IS-2-1-Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Task",
						"value": "get list file instore"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "PilotInputFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "IS-2-3-ForEach filter metadata result",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "IS-2-2-Filter Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter Files').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "IS-2-3-1 Insert fileName to control data_file",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertControlDataFile]",
								"storedProcedureParameters": {
									"ConfigId": {
										"value": {
											"value": "@pipeline().parameters.configId",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"Container": {
										"value": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"type": "String"
									},
									"Directory": {
										"value": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipeline_run_id": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "connectSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "IS-2-2-Filter Files",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "IS-2-1-Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name, pipeline().parameters.configName)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			},
			"configName": {
				"type": "string"
			},
			"tableSchema": {
				"type": "string"
			},
			"tableName": {
				"type": "string"
			},
			"success_dir": {
				"type": "string"
			},
			"error_dir": {
				"type": "string"
			},
			"configId": {
				"type": "int"
			}
		},
		"variables": {
			"fileCounts": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pilot"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-18T15:37:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}