pipeline/plp_TransferDataToDM.json
{
	"name": "plp_TransferDataToDM",
	"properties": {
		"activities": [
			{
				"name": "TR-1-ForEach-List process config id",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.listProcessConfigId_Ar",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "TR-1-2-Get process concurrent trans infor",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "TR-1-1- Set variable processConfigId",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select a.process_id, b.concurrent_trans_name, b.start_execution_id, b.end_execution_id, b.is_complete\nfrom control.process a\ninner join control.process_concurrent_trans b on a.process_id = b.process_id\nwhere a.process_config_id = @{variables('configId')} and a.process_status ='PS';",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "DS_Pilot_SQL_Broad",
									"type": "DatasetReference",
									"parameters": {
										"tableName": "Null",
										"schema": "Null"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "TR-1-3-IF- Data has changed",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "TR-1-2-1- Set variable startExecutionId",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TR-1-2-4- Set variable concurrentTransName",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TR-1-2-2- Set variable endExecutionId",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "TR-1-2-5- Set variable tableType",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].endExecutionId , activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].startExecutionId)\n",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "TR-1-3-1- Exit by no data has changed",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 1
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "TR-1-3-1-Transfer data to Des DB",
										"type": "Copy",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderStoredProcedureName": "[ods].[usp_transer_process_wrapper]",
												"storedProcedureParameters": {
													"configId": {
														"type": "Int32",
														"value": {
															"value": "@variables('configId')",
															"type": "Expression"
														}
													},
													"dataFileType": {
														"type": "String",
														"value": {
															"value": "@variables('dataFileType')",
															"type": "Expression"
														}
													},
													"endExecutionId": {
														"type": "Int32",
														"value": {
															"value": "@variables('endExcutionId')",
															"type": "Expression"
														}
													},
													"odsTableName": {
														"type": "String",
														"value": {
															"value": "@variables('odsTableName')",
															"type": "Expression"
														}
													},
													"startExecutionId": {
														"type": "Int32",
														"value": {
															"value": "@variables('startExecutionId')",
															"type": "Expression"
														}
													}
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "AzureSqlSink",
												"sqlWriterStoredProcedureName": {
													"value": "@variables('transferStoreProcedureName')",
													"type": "Expression"
												},
												"sqlWriterTableType": {
													"value": "@variables('tableType')",
													"type": "Expression"
												},
												"storedProcedureTableTypeParameterName": "source",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "DS_Pilot_SQL_Broad",
												"type": "DatasetReference",
												"parameters": {
													"tableName": "Null",
													"schema": "Null"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "DS_Pilot_SQL_STG_Broad",
												"type": "DatasetReference"
											}
										]
									},
									{
										"name": "TR-1-3-2-Update status transfer to successful",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "TR-1-3-1-Transfer data to Des DB",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[ods].[ctl_transfer_process_log]",
											"storedProcedureParameters": {
												"configId": {
													"value": {
														"value": "@variables('configId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"endExecutionId": {
													"value": {
														"value": "@variables('endExcutionId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"runId": {
													"value": {
														"value": "@pipeline().RunId",
														"type": "Expression"
													},
													"type": "String"
												},
												"startExecutionId": {
													"value": {
														"value": "@variables('startExecutionId')",
														"type": "Expression"
													},
													"type": "Int32"
												},
												"tableName": {
													"value": {
														"value": "@variables('odsTableName')",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "connectSQL",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "TR-1-3-3-Pipeline to control error",
										"type": "ExecutePipeline",
										"dependsOn": [
											{
												"activity": "TR-1-3-1-Transfer data to Des DB",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "plp_Control_Pipeline_Fail",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"PipelineName": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"DataFactoryName": {
													"value": "@pipeline().DataFactory",
													"type": "Expression"
												},
												"ErrorMessage": {
													"value": "@activity('TR-1-3-1-Copy data from ODS to STG').output.errors[0].Message",
													"type": "Expression"
												},
												"RunID": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"TriggerName": {
													"value": "@pipeline().TriggerName",
													"type": "Expression"
												},
												"TriggerTime": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												}
											}
										}
									},
									{
										"name": "TR-1-3-4- Set variable isTransferError to True",
										"type": "SetVariable",
										"dependsOn": [
											{
												"activity": "TR-1-3-1-Transfer data to Des DB",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"userProperties": [],
										"typeProperties": {
											"variableName": "isTransferError",
											"value": {
												"value": "@bool(1)",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "TR-1-1- Set variable processConfigId",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "configId",
								"value": {
									"value": "@item()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TR-1-2-1- Set variable startExecutionId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TR-1-2-Get process concurrent trans infor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "startExecutionId",
								"value": {
									"value": "@string(activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].startExecutionId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TR-1-2-2- Set variable endExecutionId",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TR-1-2-Get process concurrent trans infor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "endExcutionId",
								"value": {
									"value": "@string(activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].endExecutionId)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TR-1-2-4- Set variable concurrentTransName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TR-1-2-Get process concurrent trans infor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "concurrentTransName",
								"value": {
									"value": "@item().concurrent_trans_name",
									"type": "Expression"
								}
							}
						},
						{
							"name": "TR-1-2-5- Set variable tableType",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "TR-1-2-Get process concurrent trans infor",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tableType",
								"value": {
									"value": "@activity('TR-1-2-Get lastest transfer and current executionLogId').output.value[0].tableType",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "TR-2-2- No error in transfer",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "TR-1-ForEach-List process config id",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "TR-2-1- Got error in transfer",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "TR-1-ForEach-List process config id",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"parameters": {
			"listProcessConfigId_Ar": {
				"type": "array",
				"defaultValue": [
					"1"
				]
			}
		},
		"variables": {
			"configId": {
				"type": "String"
			},
			"startExecutionId": {
				"type": "String"
			},
			"endExcutionId": {
				"type": "String"
			},
			"isTransferError": {
				"type": "Boolean",
				"defaultValue": false
			},
			"transferStoreProcedureName": {
				"type": "String"
			},
			"processId": {
				"type": "String"
			},
			"concurrentTransName": {
				"type": "String"
			},
			"is_complete": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pilot"
		},
		"annotations": []
	}
}