pipeline/plp_InsertFileToControl_Sub.json
{
	"name": "plp_InsertFileToControl",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Task",
						"value": "get list file instore"
					}
				],
				"typeProperties": {
					"dataset": {
						"referenceName": "PilotInputFiles",
						"type": "DatasetReference",
						"parameters": {
							"Container": {
								"value": "@pipeline().parameters.Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"itemName",
						"itemType",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Insert fileName to datafile",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[InsertControlDataFile]",
								"storedProcedureParameters": {
									"Container": {
										"value": {
											"value": "@pipeline().parameters.Container",
											"type": "Expression"
										},
										"type": "String"
									},
									"Directory": {
										"value": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										},
										"type": "String"
									},
									"FileName": {
										"value": {
											"value": "@item().name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "connectSQL",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Container": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			}
		},
		"variables": {
			"fileCounts": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pilot"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-18T15:37:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}